<% include header %>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="/assets/css/search.css">
<title>DogMate</title>
</head>
<body>
  <% include navigation %>
  <div class="jumbotron jumbo">
    <div class="heading">
        FIND A MATE
    </div>
    <form action ="/searchmate" method="get" enctype="multipart/form-data">
      <div class="inlineflex search-bar">
        <!--Blue select-->
        <select class="form-control js-example-basic-multiple selectmateloc" placeholder="state" style="width:40%;height:4.4vw;" id= "stateselect1" name="state"  multiple="multiple">
          <option value="Select" disabled>Select State</option>
          <option value="Australian Capital Territory" >Australian Capital Territory</option>
          <option value="New South Wales" >New South Wales</option>
          <option value="Northern Territory" >Northern Territory</option>
          <option value="Queensland" >Queensland</option>
          <option value="South Australia" >South Australia</option>
          <option value="Tasmania" >Tasmania</option>
          <option value="Victoria" >Victoria</option>
          <option value="Western Australia" >Western Australia</option>
        </select>
        <script>
          $('document').ready(function(){
            //console.log("state");
            <% if(typeof c.state !== "undefined") { %>
              //console.log("in");
              $('#stateselect1').val( '<%= c.state %>');
              //console.log('<%= c.state %>')
            <% } %>
          });
        </script>
        <!--<input type="text" class="form-control" name="Location" placeholder="Location">-->
        <input type="text" class="form-control heights" name="name" placeholder="Search Dog by Dog Breed or Age" <% if(typeof c.name !== "undefined"){ %> value = <%= c.name %> <% } %> >
        <button class="btn btn8" type="submit" name="button">&nbsp;<i class="fas fa-search"></i>&nbsp;</button>
      </div>
      <% if(typeof search === 'undefined') { %>
    </form><% }%>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <% if(typeof search === 'undefined') { %>
        <br><h2 class="h2">TOP RATED MATES</h2><br><% } else { %>
          <br><div class="line4">
            <h2 class="h2 left4">Search Results<span class="right4"><%= rows.length %> Results </span></h2>
          </div>
          <div class = "row">
            <div class = "col-sm-6 left4">
              <span class="text4"> Filter by Age Group
                <select class="form-control age_group" name="age_group" id="age_group1">
                  <option value= "All" selected>All</option>
                  <option id= "l1" value= "l1"> < 1 years </option>
                  <option id= "b12" value= "b12"> 1-2 years </option>
                  <option id= "b23" value= "b23"> 2-3 years </option>
                  <option id= "b35" value= "b35"> 3-5 years </option>
                  <option id= "b57" value= "b57"> 5-7 years </option>
                  <option id= "b7t" value= "b7t"> 7-10 years </option>
                  <option id= "gtt" value= "gtt"> > 10 years </option>
                </select>
              </span>
            </div>
            <script>
              $('document').ready(function(){
                console.log("age-group");
                <% if(typeof c.age_group !== "undefined") { %>
                  //console.log("in");
                  $('#age_group1').val( '<%= c.age_group %>');
                  //console.log('<%= c.age_group %>')
                <% } %>
              });
            </script>
            <div class="col-sm-6 right5">
              <span class="text5">Sort By:</span>
                <select class="form-control sort_by" name="sort_by" id="sort_by1">
                  <option selected value="Rating"> Top Rated </option>
                  <option value = "DogAge"> Dog Age </option>
                  <option value = "Reviews"> Votes </option>
                </select>
                <script>
                  $('document').ready(function(){
                    //console.log("sort_by");
                    <% if(typeof c.sort_by !== "undefined") { %>
                      //console.log("in");
                      $('#sort_by1').val( '<%= c.sort_by %>');
                    <% } %>
                  });
                </script>
            </div>
          </div>
          </form>
          <% } %>
      </div>
      <% if(rows.length > 0) { %>
        <% for(var i=0;i<rows.length;i++) { %>
          <div class="card crd1 crdleft">
            <div class="card-body crdpad2">
              <a href="/matedetails?id=<%= rows[i].Email %>&did=<%= rows[i].Did %>">
                <img class="profile" src="<% if(rows[i].DogPic1){%>/<%= rows[i].DogPic1 %><% }else if(rows[i].DogPic2){ %>/<%= rows[i].DogPic2 %><%}else if(rows[i].DogPic3){%>/<%= rows[i].DogPic3%><%}else if(rows[i].DogPic4){%>/<%= rows[i].DogPic4%><%}else if(rows[i].DogPic5){%>/<%= rows[i].DogPic5%><%}else{%>/users/default.png<%}%>">
              </a>
              <div class="fname">
                <span>
                  <%= rows[i].DogName %>,
                  <% if(rows[i].DogAge >= 1 && rows[i].DogAge < 2) { %>
                    <%= rows[i].DogAge %> Yr
                  <% } else if(rows[i].DogAge >= 2) { %>
                    <%= rows[i].DogAge %> Yrs
                  <% } else if(rows[i].DogAge < 1) {%>
                    <%= (Number(rows[i].DogAge)/0.1) %> months <% } %>
                </span>
              </div>
              <div class="grey2">
                <% rows[i].DogBreed = rows[i].DogBreed.replace(/_/g,' '); %>
                <%= rows[i].DogBreed %>
              </div>
              <div class="display1">
                <div class="rating">
                  <%
                  if((rows[i].Rating*2)%2!=0){ rows[i].Rating=rows[i].Rating-1;}
                  for(var j=0;j<rows[i].Rating;j++){
                     %>
                  <span class="fa fa-star checked"></span>
                  <% }
                  if((rows[i].Rating*2)%2==1){%>
                    <i class="fas fa-star-half-alt checked"></i>
                    <% j=j+1;}
                  for(var k=0;k<5-j;k++){
                  %>
                  <span class="far fa-star" style="color:#ed2154"></span>
                <% }%>
                </div>
                <div class="review">
                  <i class="fas fa-vote-yea"></i>&nbsp;<%= rows[i].Reviews %>
                </div>
              </div>
            </div>
          </div>
        <% } } else { %>
        <br><h2 class="h2">No Results :`( </h2><br>
        <% } %>
    </div>
  </div>
  <% include footer %>
</body>
<script src="/assets/javascript/Files/findmate.js"></script>
</html>
