

<div class="container-fluid pricing">
  <div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-sm-11 col-md-11 col-lg-11 size-1 font-weight-bold">
      <a href="/" class="red ">Home</a>&nbsp;/&nbsp;<a href="/pricing" class="red ">Pricing</a>&nbsp;/&nbsp;Contact Us
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-md-5 col-lg-5"></div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <div class=" size-3">SIGN-UP
        <div class="row">
          <div class="col-sm col-md col-lg">
            <span class="green-line"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5"></div>
  </div>
  <div class="container-fluid padlr2">
    <form class="size-1" name="myform1" method="post" action="<%= data.success %> ">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name<span class="red">*</span></label>
          <div class="col-sm-9">
            <input type="text" class="form-control size-1" name="name" id="name" value="" placeholder="Enter Your Full Name Here">
            <span class="red"><%= data.name_err %></span>
          </div>
        </div>
        <div class="form-group row">
          <label for="Email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control size-1" name="email" id="email" value="" placeholder="Enter Email">
            <span class="red"><%= data.email_err %></span>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control size-1" id="inputPassword" name="password" placeholder="Enter Password">
            <span class="red"><%= data.password_err %></span>
          </div>
        </div>
        <div class="form-group row">
          <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-9">
            <input type="password" name="confirmPass" class="form-control size-1" id="inputCPassword" placeholder="Re-enter the above Password">
            <span class="red"><%= data.confirm_err %></span>
          </div>
        </div>
        <div class="form-group row">
          <label for="dob" class="col-sm-2 col-form-label">Date of Birth</label>
          <div class="col-sm-9">
            <input name="dob" type="date" class="form-control size-1" id="dob" placeholder="Date of Birth">
            <span class="red"><%= data.dob_err %></span>
          </div>
        </div>
        <div class="form-group row">
          <label for="gender" class="col-sm-2 col-form-label">Gender</label>
          <div class="col-sm-9">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="gender" value="male">Male
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="gender" value="female">Female
              </label>
            </div>
            <div class="form-check-inline disabled">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="gender" value="other">Other
                <span class="red"><%= data.gender_err %></span>
              </label>
            </div>
          </div>
        </div>
