<% include header %>
<link rel="stylesheet" type="text/css" href="assets/style.css">
<link rel="stylesheet" type="text/css" href="assets/search.css">
<link href="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.css" rel="stylesheet">
<script src="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.js"></script>
<title>DogMate</title>
</head>
<body class="scrollbar scrollbar-primary">
  <% include navigation %>
  <div class="jumbotron jumbo">
    <div class="heading">
        FIND A SITTER
    </div>
  <form action ="/searchsitter" method="get" enctype="multipart/form-data">
  <div class="input-group search-bar">
  <input type="text" class="form-control" name="Location" placeholder="Location" <% if(typeof c.location !== "undefined"){ %> value = "<%= c.location %>" <% } %> >
  <input type="text" class="form-control" name="name" placeholder="Search" <% if(typeof c.name !== "undefined") { %> value = "<%= c.name %>" <% } %>>
  <button class="btn searching" type="submit" name="button">&nbsp;<i class="fas fa-search"></i>&nbsp;</button>
</div>
<% if (filters == "no") {%>
    </form>
    <% } %>
  </div>
  <div class="container mb-4" style="padding:0;">
    <div class="row mb-4">
      <div class="col-sm-6">
      <% if(filters == "no") { %>
      <div class="col-sm-12">
        <br><h2 class="h2"><strong>TOP RATED MATES</strong></h2><br></div></div><div class="line-mate col-sm-12"></div>
      </div>
      <% }else if(filters == "yes") {%>
        <h2><strong>Search Results</strong></h2></div>
        <div class="col-sm-6 numofres">
          <%= rows.length %> results found
        </div>
        <div class="line-mate col-sm-12"></div>
            <div class = "col-sm-6">
              <strong> Filter by Availability:</strong>
                <select class = "find-drop days" name="days[]" id="days" multiple="multiple">
                  <option value = "All" selected>All</option>
                  <option id = "mon" value= "1"> Monday </option>
                  <option id = "tue" value= "2"> Tuesday </option>
                  <option id = "wed" value= "3"> Wednesday </option>
                  <option id = "thu" value= "4"> Thusrday </option>
                  <option id = "fri" value= "5"> Friday </option>
                  <option id = "sat" value= "6"> Saturday </option>
                  <option id = "sun" value= "7"> Sunday </option>
                </select>
                <script>
                  $('document').ready(function(){
                    console.log("days");
                    <% if(typeof c.days !== "undefined") { %>
                      console.log("in");
                      <% var days = c.days %>;
                      <% if(days[0] == "All") { %>
                        $("#days").val(["All"]);
                      <% } else { %>
                        <% for(e in days){ %>
                          $("#days option[value='All']").prop("selected", false);
                          $("#days option[value='<%= days[e] %>']").prop("selected", true);
                        <% } %>
                      <% } %>
                    <% } %>
                    $(function() {
                      $('#days').multipleSelect({
                        selectAll: false
                      })
                    })
                  });
                </script>
            </div>
            <div class="col-sm-6 text-right">
              <strong>Sort By:</strong>
                <select class = "find-drop" name = "sort_by" id = "sort_by1">
                  <option selected value="Rating"> Top Rated </option>
                  <% if(typeof c.location !== "undefined") { if(c.location != "") {%>
                  <option value = "Distance"> Distance </option>
                  <% } }%>
                  <option value = "Reviews"> Votes </option>
                </select>
                <script>
                  $('document').ready(function(){
                    console.log("sort_by");
                    <% if(typeof c.sort_by !== "undefined") { %>
                      console.log("in");
                      $('#sort_by1').val( '<%= c.sort_by %>');
                    <% } %>
                  });
                </script>
            </div>
          </div>
          </form>
          <% } %>
          <div class="row">
            <% if(rows.length > 0) { %>
      <% for(var i=0;i<rows.length;i++){
        %>
      <div class="card crd1">
          <div class="card-body">
          <a href="/sitterdetails?id=<%= rows[i].Email %>"><img class="profile" src="<%= rows[i].Profile %>"></a>
              <div class="fname">
                <%= rows[i].Fname %> <%= rows[i].Lname %>
              </div>
              <div class="row">
              <div class="col-sm-6 rating">
                <%
                if((rows[i].Rating*2)%2!=0){ rows[i].Rating=rows[i].Rating-1;}
                for(var j=0;j<rows[i].Rating;j++){
                   %>
                <span class="fa fa-star checked"></span>
                <% }
                if((rows[i].Rating*2)%2==1){%>
                  <i class="fas fa-star-half-alt checked"></i>
                  <% j=j+1;}
                for(var k=0;k<5-j;k++){
                %>
                <span class="far fa-star" style="color:#ed2154"></span>
              <% }%>
              </div>
              <div class="col-sm-6 review">
                <i class="fas fa-vote-yea"></i>&nbsp;<%= rows[i].Reviews %>
              </div>
          </div>
      </div></div>
      <% } %></div>
      <% if(page == 2) { %>
        <div class="cent-pag" style="">
          <ul class="pagination justify-content-end">
            <% var url12 = {};
              url12 = Object.assign(url12, url);
              if(url12.pageno != 1) {
                url12.pageno = url12.pageno - 1;
              }
              var queryString = Object.keys(url12).map(key => key + '=' + url12[key]).join('&');
            %>
            <li class = "page-item">
              <a class = "page-link mypage" href="?<%= queryString %>"><i class="fas fa-angle-left"></i></a>
            </li>
            <%  var a = Number(totalsitters);
              a = a/16;
              a = Math.ceil(a);
              if(a <= 5){
                console.log("in a less than 5");
                url12 = {};
                url12 = Object.assign(url12, url);
                for(i = 0; i < a; i++) {
                  url12.pageno = i + 1;
                  var queryString = Object.keys(url12).map(key => key + '=' + url12[key]).join('&');
            %>
                  <li class = "page-item <% if(url.pageno == i + 1) { %> active <% } %>">
                    <a class = "page-link mypage" href="?<%= queryString %>"><strong><%= i+1 %></strong></a>
                  </li>
            <%  }
              }
              else if(a > 5){
                console.log("in a more than 5");
                url12 = {};
                url12 = Object.assign(url12, url);
                var curr = Number(url.pageno);
                var flag = 0;
                for(i = 0; i < a; i++){
                  if(i == 0 || i == (a-1)){
                    console.log("in 1");
                    url12.pageno = i + 1;
                    var queryString = Object.keys(url12).map(key => key + '=' + url12[key]).join('&');
            %>
                    <li class = "page-item <% if(curr == i + 1) { %> active <% } %>">
                      <a class = "page-link mypage" href="?<%= queryString %>"><strong><%= i+1 %></strong></a>
                    </li>
            <%
                    continue;
                  }
                  else if(i+1 == (curr-1) || i+1 == (curr+1) || i+1 == curr){
                    console.log("i: ", i, ", curr: ", curr);
                    url12.pageno = i + 1;
                    var queryString = Object.keys(url12).map(key => key + '=' + url12[key]).join('&');
                    flag = 0;
            %>
                    <li class = "page-item <% if(curr == i + 1) { %> active <% } %>">
                      <a class = "page-link mypage" href="?<%= queryString %>"><strong><%= i+1 %></strong></a>
                    </li>
            <%
                    continue;
                  }
                  else if(flag == 0){
                    console.log("in 3");
                    flag = 1;
            %>
                    <li class = "page-item disabled">
                      <a class = "page-link mypage" href="#"><strong>...</strong></a>
                    </li>
            <%
                    continue;
                  }
                  else{
                    console.log("in 4");
                    continue;
                  }
                }
              }
              if(url.pageno != i) {
                url12.pageno = Number(url.pageno) + 1;
              }
              queryString = Object.keys(url12).map(key => key + '=' + url12[key]).join('&');
            %>
            <li class = "page-item">
              <a class = "page-link mypage" href="?<%= queryString %>"><i class="fas fa-angle-right"></i></a>
            </li>
          </ul>
        </div>
       <% } } else { %>
      <br><h2 class = "h2"> No Results :( </h2><br>
      <% } %>
    </div>
  </div></div></div>
  <% include footer %>
</body>
</html>
