<% include header %>
    <link rel="stylesheet" href="css/registerdog.css">
    <script src="javascript/registerdog.js"></script>
  </head>
<% include navigation %>
    <div class="container-fluid pricing">
      <div class="row margins">
          <div class="col-sm-1 col-md-1 col-lg-1"></div>
          <div class="col-sm-11 col-md-11 col-lg-11 size-1 font-weight-bold">
            <a href="/" class="red ">Home</a>&nbsp;/&nbsp;Register a Dog
          </div>
      </div>
      <div class="marlr1">
        <form class="size-1" name="myform2" id="myform2" method="post">
          <div class="row">
            <div class="col">
              <h3 class="fsize"> Register Your Dogs </h3>
              <span class="underline2"></span>
            </div>
          </div>
        <div class="card-deck cards2">
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Dog Name <span class="red2">*</span></p>
              <input type="text" class="form-control sel1" name="dog_name" placeholder="Dog Name">
              <p class="red2" id="dog_name0"><%= data.dog_name0_err %></p>
            </div>
          </div>
          <div class="card crd1">
            <div class="card-body">
              <p class="card-text">Breed<span class="red2">*</span></p>
              <select name="dog_breed" id="dog_breed0" onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,'custom-dog_breed0');this.selectedIndex='0';}" class="custom-select sel1">
                <option selected>Select</option>
                <option value="volvo">Volvo</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
                <option value="customOption">type your dog's breed</option>
              </select>
              <input name="dog_breed" class="form-control sel1" id="custom-dog_breed0" style="display:none;" disabled="disabled" onblur="if(this.value==''){toggleField(this,'dog_breed0');}">
              <p class="red2" id="dog_breed0err"><%= data.dog_breed0_err %></p>
            </div>
          </div>
          <div class="card crd1">
            <div class="card-body">
              <p class="card-text">Gender<span class="red2">*</span></p>
              <select name="dog_gender" class="custom-select sel1">
                <option selected>Select</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <p class="red2" id="dog_gender0"><%= data.dog_gender0_err %></p>
            </div>
          </div>
          <div class="card crd1">
            <div class="card-body">
              <p class="card-text">Age<span class="red2">*</span></p>
              <input type="text" class="form-control sel1 dog_age" name="dog_age" placeholder="Dog Age">
              <p class="red2" id="dog_age0"><%= data.dog_age0_err %></p>
            </div>
          </div>
        </div>
        <div class="card-group cards2">
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">About Me<span class="red2" >*</span></p>
              <textarea name="dog_info" class="form-control sel1" rows="3" placeholder="Write something about your dog"></textarea>
              <p class="red2" id="dog_info0"><%= data.dog_info0_err %></p>
            </div>
          </div>
          <input type="hidden" name="form1" value="0"/>
        </div>
        <div id="wrappers">
        </div>
        <a class="display1" id="add_another" href="/registerdog">
          <div class="circleBase type1"><span class="fontplus">+</span></div>
          <p class="green1">Add Another Dog</p>
        </a>
        <div class="row">
          <div class="col">
            <h3 class="fsize"> Contact Info </h3>
          </div>
        </div>
        <div class="card-deck cards2">
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Your Name <span class="red2">*</span></p>
              <input type="text" class="form-control sel1" name="u_name" placeholder="Owner Name" <% if(uname !== " "){ %> value="data.Name" disabled <% } %>>
            </div>
          </div>
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Your Email <span class="red2">*</span></p>
              <input type="text" class="form-control sel1" name="u_email" placeholder="Email Address" <% if(uname !== " "){ %> value="data.Name" disabled <% } %> >
            </div>
          </div>
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Phone <span class="red2">*</span></p>
              <input type="text" class="form-control sel1" name="u_phone" placeholder="Phone" <% if(uname !== " "){ %> value="data.Name" disabled <% } %> >
            </div>
          </div>
        </div>
        <div class="card-deck cards2">
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Street Address<span class="red2">*</span></p>
              <input type="text" class="form-control sel1" name="u_add" placeholder="Street Address">
            </div>
          </div>
          <div class="card crd1">
            <div class="card-body">
              <p class="card-text">City<span class="red2">*</span></p>
              <select name="u_city" class="custom-select sel1" placeholder="Age">
                <option selected>City</option>
                <option value="volvo">Volvo</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </div>
          <div class="card crd1">
            <div class="card-body">
              <p class="card-text">State<span class="red2">*</span></p>
              <select name="u_state" class="custom-select sel1" placeholder="Age">
                <option selected>State</option>
                <option value="volvo">Volvo</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-deck cards2">
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Zip <span class="red2">*</span></p>
              <input type="text" class="form-control sel1" name="u_zip" placeholder="Zip">
            </div>
          </div>
          <div class="card crd1 crdleft">
            <div class="card-body">
              <p class="card-text">Password <span class="red2">*</span></p>
              <input type="text" class="form-control sel1" name="u_pass" placeholder="Password">
            </div>
          </div>
          <% if(uname === " "){ %>
            <div class="card crd1 crdleft">
              <div class="card-body">
                <p class="card-text">Confirm Password <span class="red2">*</span></p>
                <input type="text" class="form-control sel1" name="u_cpass" placeholder="Confirm Password">
              </div>
            </div>
            <input type="hidden" name="logedin" value="0">
          <% }else{ %>
            <input type="hidden" name="logedin" value="1">
          <% } %>
        </div>
        <p class="policies"> By joining you agree to <a href="" class="policieslink">Our Terms and Conditions</a> and <a href="" class="policieslink"> Privacy Policies</a></p>
        <button type="submit" class="btn button-default btn2" id="dogregister">Register Now</button>
      </form>
    </div>
  </div>
<% include footer %>
