<div class="col-lg-9 dashboard_lay" id="list">
<script src="/assets/javascript/Files/dogdetails.js"></script>
  <div class="cardlike1">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="my-account headmydog"><% var s = send_data[0]; if(typeof send_data !== 'undefined') { %><%= s.DogName %><% } %></h2>
      </div>
    </div>
    <% if (typeof send_data.status_err !== 'undefined') { if (send_data.status_err == "verified") { if (did==1){ %>
      <form class="size-2" action="/dogdetails" name="myform2" id="myform2" method="post" enctype="multipart/form-data">
        <div class="card-deck">
          <div class="card noborder1">
            <div class="card-body">
              <p class="card-text">Dog Name<span class="red2">*</span></p>
              <div class="display4">
                <input type="text" class="form-control sel1 sel2 focus1" name="dog_name" placeholder="Dog Name" value="<% if(typeof send_data !== 'undefined'){ %><%= s.DogName %><% } %>">
                <a data-toggle="tooltip" data-placement="auto" title="The Name must be atleast 2 in length and may contain spaces">
                  <i class="fas fa-info-circle red2 icon7"></i>
                </a>
              </div>
              <p class="red2" id="dog_name0"></p>
            </div>
          </div>
          <div class="card noborder1">
            <div class="card-body">
              <p class="card-text">Sex<span class="red2">*</span></p>
              <select name="dog_gender" id="dogsex1" class="custom-select sel1 focus1">
                <option selected>Select</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <script>
                $('document').ready(function(){
                  console.log("in ready");
                  //console.log(<%= s.DogBreed %>);
                  <% if(typeof send_data !== 'undefined'){ %>
                    //console.log('<%= s.DogGender %>');
                    $('#dogsex1').val("<%= s.DogGender%>");
                  <% } %>
                });
              </script>
              <p class="red2" id="dog_gender0"></p>
            </div>
          </div>
        </div>
        <div class="card-deck">
          <div class="card noborder1">
            <div class="card-body">
              <p class="card-text">Breed<span class="red2">*</span></p>
              <select name="dog_breed" id="dog_breed0" class="custom-select sel1 focus1">
                <option value="Select">Select Dog</option>
                <option value="affenpinscher_dog_breed">Affenpinscher	</option>
                <option value="afghan">Afghan</option>
                <option value="Airedale_Terrier">Airedale Terrier</option>
                <option value="akita_dog_breed">Akita Dog Breed</option>
                <option value="alaskan_malamute_dogs">Alaskan Malamute Dogs</option>
                <option value="american_eskimo_dog">American Eskimo Dog</option>
                <option value="American_Foxhound">American Foxhound</option>
                <option value="American_Staffordshire_Terrier">American Staffordshire Terrier</option>
                <option value="American_Water_Spaniel">American Water Spaniel</option>
                <option value="anatolian_shepherd_dogs">Anatolian Shepherd Dogs</option>
                <option value="Australian_Cattle_Dog">Australian Cattle Dog</option>
                <option value="Australian_Shepherd">Australian Shepherd</option>
                <option value="Australian_Terrier">Australian Terrier</option>
                <option value="basenji">Basenji</option>
                <option value="Basset_Hound">Basset Hound</option>
                <option value="Beagle">Beagle</option>
                <option value="Bearded_Collie">Bearded Collie</option>
                <option value="Bedlington_Terrier">Bedlington Terrier</option>
                <option value="Belgian_Malinois">Belgian Malinois</option>
                <option value="Belgian_Sheepdog">Belgian Sheepdog</option>
                <option value="Belgian_Tervuren">Belgian Tervuren</option>
                <option value="bernese_mountain_dogs">Bernese Mountain Dogs</option>
                <option value="bichon_frise">Bichon Frise</option>
                <option value="Black_And_Tan_Coonhound">Black And Tan Coonhound</option>
                <option value="black_russian_terriers">Black Russian Terriers</option>
                <option value="Bloodhound">Bloodhound</option>
                <option value="Border_Collie">Border Collie</option>
                <option value="Border_Terrier">Border Terrier</option>
                <option value="Borzoi">Borzoi</option>
                <option value="boston_terrier">Boston Terrier</option>
                <option value="Bouvier_des_Flandres">Bouvier_des_Flandres</option>
                <option value="Briard">Briard</option>
                <option value="Brittany">Brittany	</option>
                <option value="toydogs_BrusselsGriffon">Brussels Griffon</option>
                <option value="english_bull_dogs">Bulldog</option>
                <option value="bull_mastiff_dog">Bull Mastiff Dog</option>
                <option value="Bull_Terrier">Bull Terrier</option>
                <option value="Cairn_Terrier">Cairn Terrier</option>
                <option value="Canaan_Dog">Canaan Dog</option>
                <option value="C">Cardigan Welsh Corgi</option>
                <option value="king_charles_cavalier_spaniel">Cavalier King Charles Spaniel</option>
                <option value="Chesapeake_Bay_Retriever">Chesapeake Bay Retriever</option>
                <option value="chihuahua_dog_breed">Chihuahua</option>
                <option value="chinese_crested_dog_breed">Chinese Crested</option>
                <option value="chinese_shar_pei">Chinese Shar Pei</option>
                <option value="chow_chow_dog">Chow Chow</option>
                <option value="Clumber_Spaniel">Clumber Spaniel</option>
                <option value="Cocker_Spaniel">Cocker Spaniel</option>
                <option value="Collie">Collie</option>
                <option value="Curly_coated_Retriever">Curly_coated Retriever</option>
                <option value="Dachshund">Dachshund	</option>
                <option value="dalmatian_dogs">Dalmatian	</option>
                <option value="Dandie_Dinmont_Terrier">Dandie Dinmont Terrier</option>
                <option value="doberman_pinscher_dogs">Doberman Pinscher Dogs</option>
                <option value="english_bull_dogs">English Bull Dogs</option>
                <option value="English_Cocker_Spaniel">English Cocker Spaniel</option>
                <option value="English_Foxhound">English Foxhound</option>
                <option value="English_Setter">English Setter</option>
                <option value="English_Springer_Spaniel">	English Springer Spaniel</option>
                <option value="english_toy_spaniels">English Toy Spaniel</option>
                <option value="Field_Spaniel">Field Spaniel</option>
                <option value="finnish_spitz_dog">Finnish Spitz</option>
                <option value="Flat_Coated_Retriever">Flat_Coated Retriever</option>
                <option value="french_bull_dogs">French Bull Dogs</option>
                <option value="german_shepherd_dog">German Shepherd Dog</option>
                <option value="German_Wirehaired_Pointer">German Wirehaired Pointer</option>
                <option value="Glen_of_Imaal_Terrier">Glen of Imaal Terrier</option>
                <option value="Gordon_Setter">Gordon Setter</option>
                <option value="Greyhound">Greyhound</option>
                <option value="Harrier">Harrier</option>
                <option value="toydogs_havanese">Havanese </option>
                <option value="herding_group">Herding Dog Breeds</option>
                <option value="Hounds">	Hound Dog Breeds</option>
                <option value="Ibizan_Hound">Ibizan Hound</option>
                <option value="Irish_Setter">Irish Setter</option>
                <option value="Irish_Terrier">Irish Terrier</option>
                <option value="Irish_Water_Spaniel">Irish Water Spaniel</option>
                <option value="Irish_Wolfhound">Irish Wolfhound</option>
                <option value="miniature_italian_greyhound">Italian Greyhound</option>
                <option value="japanese_chin_dog">Japanese Chin</option>
                <option value="Kerry_Blue_Terrier">	Kerry Blue Terrier</option>
                <option value="keeshonds">Keeshonds</option>
                <option value="labrador_retriever">	Labrador Retriever</option>
                <option value="Lakeland_Terrier">Lakeland Terrier</option>
                <option value="landseer_newfoundland">Landseer Newfoundland</option>
                <option value="lhasa_apso_dogs">Lhasa Apso Dogs</option>
                <option value="maltese_dog_breed">Maltese</option>
                <option value="Manchester_Terrier">Manchester Terrier </option>
                <option value="toydogs_ManchesterTerrier">Toy Manchester Terrier</option>
                <option value="Miniature_Bull_Terrier">Miniature Bull Terrier</option>
                <option value="Miniature_Dog_Breeds">Miniature Dog Breeds</option>
                <option value="toydogs_MiniaturePinscher">Miniature Pinscher</option>
                <option value="Miniature_Schnauzer">Miniature Schnauzer</option>
                <option value="Non_Sporting_Group">non_sporting group</option>
                <option value="Norfolk_Terrier">Norfolk Terrier</option>
                <option value="Norwegian_Elkhound">Norwegian Elkhound</option>
                <option value="Norwich_Terrier">Norwich Terrier</option>
                <option value="Nova_Scotia_Duck_Tolling_Retriever">Nova Scotia Duck Tolling Retriever</option>
                <option value="Old_English_Sheepdog">Old English Sheepdog</option>
                <option value="Otter_hound">Otterhound</option>
                <option value="papillon_dog_breed">Papillon </option>
                <option value="Parson_Russell_Terrier">Parson Russell Terrier</option>
                <option value="pekingese_dogs">Pekingese</option>
                <option value="Pembroke_Welsh_Corgi">Pembroke Welsh Corgi</option>
                <option value="Petit_Basset_Griffon_Vendeen">Petit Basset Griffon Vendeen</option>
                <option value="Pharaoh_Hound">Pharaoh Hound</option>
                <option value="polish_lowland_sheepdog">Polish Lowland Sheepdog</option>
                <option value="pomeranian_care">Pomeranian</option>
                <option value="toy_poodle_dog">Poodle</option>
                <option value="pug_dog_breed">Pug</option>
                <option value="Puli">Puli</option>
                <option value="rare_mastiff_dog_breeds">Rare Mastiff Dog Breeds</option>
                <option value="RhodesianRidgeback">Rhodesian Ridgeback</option>
                <option value="rottweiler_dogs">Rottweiler Dogs</option>
                <option value="saint_bernard_dogs">Saint Bernard Dogs</option>
                <option value="Saluki">Saluki</option>
                <option value="Scottish_Deerhound">Scottish Deerhound</option>
                <option value="Scottish_Terrier">Scottish Terrier</option>
                <option value="Sealyham_Terrier">Sealyham Terrier</option>
                <option value="Shetland_Sheepdog">Shetland Sheepdog</option>
                <option value="shih_tzu_dogs">Shih Tzu Dogs</option>
                <option value="toydogs_SilkyTerrier">Silky Terrier</option>
                <option value="Skye_Terrier">Skye Terrier </option>
                <option value="Smooth_Fox_Terrier">Smooth Fox Terrier </option>
                <option value="Soft_Coated_Wheaten_Terrier">Soft Coated Wheaten Terrier </option>
                <option value="Spinone_Italiano">Spinone Italiano </option>
                <option value="sporting_group">Sporting Dog Breeds</option>
                <option value="Staffordshire_Bull_Terrier">Staffordshire Bull Terrier </option>
                <option value="Sussex_Spaniel">Sussex Spaniel</option>
                <option value="terrier_group">Terrier Dog Breeds</option>
                <option value="Toy_Dog_Breeds">Toy Dog Breeds</option>
                <option value="toy_fox_terriers">Toy Fox Terrier</option>
                <option value="Vizsla">Vizsla</option>
                <option value="Weimaraner">Weimaraner</option>
                <option value="Welsh_Springer_Spaniel">Welsh Springer Spaniel</option>
                <option value="Welsh_Terrier">Welsh Terrier </option>
                <option value="West_Highland_White_Terrier">West Highland White Terrier</option>
                <option value="Whippet">Whippet</option>
                <option value="Wire_Fox_Terrier">Wire Fox Terrier</option>
                <option value="wirehaired_pointing_griffon">Wirehaired Pointing Griffon</option>
                <option value="working_dog_group">Working Dog Breeds</option>
                <option value="rare_dog_breeds_Xoloitzcuintle">Xoloitzcuintle</option>
                <option value="miniature_yorkshire_terrier">Yorkshire Terrier</option>
              </select>
              <script>
                $('document').ready(function() {
                  //console.log("in ready");
                  //console.log(<%= s.DogBreed %>);
                  <% if(typeof send_data !== 'undefined') { %>
                    //console.log(<%= s.DogBreed %>);
                    $('#dog_breed0').val("<%= s.DogBreed %>");
                  <% } %>
                });
              </script>
              <p class="red2" id="dog_breed0err"></p>
            </div>
          </div>
          <div class="card noborder1">
            <div class="card-body">
              <p class="card-text">Age<span class="red2">*</span></p>
              <input type="text" class="form-control sel1 dog_age focus1" name="dog_age" placeholder="Dog Age" value="<% if(typeof send_data !== 'undefined'){ %><%= s.DogAge %><% } %>">
              <p class="red2" id="dog_age0"></p>
            </div>
          </div>
        </div>
        <div class="card-deck">
          <div class="card noborder1">
            <div class="card-body">
              <p class="card-text">About Me<span class="red2" >*</span></p>
              <textarea name="dog_info" class="form-control sel1 focus1" rows="3" placeholder="Write something about your dog"><% if(typeof send_data !== 'undefined'){ %><%= s.Description %><% } %></textarea>
              <p class="red2" id="dog_info0"></p>
            </div>
          </div>
        </div>
        <div class="card-deck">
          <div class="card-body noborder1 crdpad1">
            <div class="display3">
              <label id="imgupload0" for="file0-upload1" class="imgupload focus2"><span class="plus" id="file0-upload1plus">+</span><img id="file0-upload1img" class="imgpic" src="<% if(typeof send_data !== 'undefined'){ if (typeof s.DogPic1 !== 'undefined') { if (s.DogPic1 != null) { %>/<%= s.DogPic1 %><% } } } %>"></img></label>
              <input type="text" hidden value="" id="fileupload0" name="fileupload0">
              <input hidden style="width:1%; height:1%;" type="file" class="form-control size-1 fileUpload focus2" name="fileUpload[0]" id="file0-upload1" accept="image/*" value="" onchange="loadFile(this.id)">
              <label id="imgupload1" for="file0-upload2" class="imgupload focus2"><span class="plus" id="file0-upload2plus">+</span><img id="file0-upload2img" class="imgpic" src="<% if(typeof send_data !== 'undefined'){ if (typeof s.DogPic2 !== 'undefined') { if (s.DogPic2 != null) { %>/<%= s.DogPic2 %><% } } } %>"></img></label>
              <input type="text" hidden value="" id="fileupload1" name="fileupload1">
              <input hidden style="width:1%; height:1%;" type="file" class="form-control size-1 fileUpload focus2" name="fileUpload[0]" id="file0-upload2" accept="image/*" value="" onchange="loadFile(this.id)">
              <label id="imgupload2" for="file0-upload3" class="imgupload focus2"><span class="plus" id="file0-upload3plus">+</span><img id="file0-upload3img" class="imgpic" src="<% if(typeof send_data !== 'undefined'){ if (typeof s.DogPic3 !== 'undefined') { if (s.DogPic3 != null) { %>/<%= s.DogPic3 %><% } } } %>"></img></label >
              <input type="text" hidden value="" id="fileupload2" name="fileupload2">
              <input hidden style="width:1%; height:1%;" type="file" class="form-control size-1 fileUpload focus2" name="fileUpload[0]" id="file0-upload3" accept="image/*" value="" onchange="loadFile(this.id)">
              <label id="imgupload3" for="file0-upload4" class="imgupload focus2"><span class="plus" id="file0-upload4plus">+</span><img id="file0-upload4img" class="imgpic" src="<% if(typeof send_data !== 'undefined'){ if (typeof s.DogPic4 !== 'undefined') { if (s.DogPic4 != null) { %>/<%= s.DogPic4 %><% } } } %>"></img></label >
              <input type="text" hidden value="" id="fileupload3" name="fileupload3">
              <input hidden style="width:1%; height:1%;" type="file" class="form-control size-1 fileUpload focus2" name="fileUpload[0]" id="file0-upload4" accept="image/*" value="" onchange="loadFile(this.id)">
              <label id="imgupload4" for="file0-upload5" class="imgupload"><span class="plus" id="file0-upload5plus">+</span><img id="file0-upload5img" class="imgpic focus2" src="<% if(typeof send_data !== 'undefined'){ if (typeof s.DogPic5 !== 'undefined') { if (s.DogPic5 != null) { %>/<%= s.DogPic5 %><% } } } %>"></img></label >
              <input type="text" hidden value="" id="fileupload4" name="fileupload4">
              <input hidden style="width:1%; height:1%;" type="file" class="form-control size-1 fileUpload focus2" name="fileUpload[0]" id="file0-upload5" accept="image/*" value="" onchange="loadFile(this.id)">
              <span class="red2">*</span>
              <input type="hidden" id="dog_pic0" name="dogpic" value="0">
            </div>
            <span class="red2" id="fileUpload0"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <button type="submit" class="btn button-default btn2" id="dogregister">Update</button>
          </div>
          <div class="col-md-8"></div>
        </div>
      </form>
    <% } } } %>
  </div>
</div>
