      <% include adminheader %>
      <!-- Counts Section -->
      <section class="dashboard-counts section-padding">
        <div class="container-fluid">
          <div class="row">
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="fas fa-user-friends"></i></div>
                <div class="name"><strong class="text-uppercase">total users</strong><span></span>
                  <div class="count-number"><%= count[0].users %></div>
                </div>
              </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="fas fa-eye"></i></div>
                <div class="name"><strong class="text-uppercase">Finders</strong><span></span>
                  <div class="count-number"><%= count[0].finders %></div>
                </div>
              </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="fas fa-child"></i></div>
                <div class="name"><strong class="text-uppercase">Sitters</strong><span></span>
                  <div class="count-number"><%= count[0].sitters %></div>
                </div>
              </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="fas fa-dog"></i></div>
                <div class="name"><strong class="text-uppercase">Mates</strong><span></span>
                  <div class="count-number"><%= count[0].dogs %></div>
                </div>
              </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="fas fa-user-check"></i></div>
                <div class="name"><strong class="text-uppercase">unapproved</strong><span></span>
                  <div class="count-number"><%= count[0].unapp %></div>
                </div>
              </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-2 col-md-4 col-6 sm-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="fas fa-at"></i></div>
                <div class="name"><strong class="text-uppercase">not verified</strong><span></span>
                  <div class="count-number"><%= count[0].not_ver %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Header Section-->
      <section class="dashboard-header section-padding">
        <div class="container-fluid">
          <div class="d-flex row  align-items-md-stretch">
            <!-- Pie Chart-->
            <div class="col-lg-6 col-md-6 sm-6">
              <div class="card project-progress">
                <h2 class="display h4">Users On DogMate</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="pie-chart">
                  <canvas id="pieChart" width="300" height="300"> <p class="pie-data" hidden><%= count[0].finders %></p> <p class="pie-data" hidden><%= count[0].sitters %></p> <p class="pie-data" hidden><%= count[0].dogs %></p></canvas>
                </div>
              </div>
            </div>
      <!-- Statistics Section-->
      <section class="statistics">
            <div class="col-lg-6 col-md-6 sm-6 " style="max-width:100%">
              <!-- Income-->
              <div class="card income text-center">
                <div class="icon"><i class="icon-line-chart"></i></div>
                <div class="number"><%= count[0].count %></div><strong class="text-primary">All Visitors</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
              </div>
            </div>
      </section>

    </div>
  </div>
      </section>
      <!-- Updates Section -->
      <section class="mt-30px mb-30px">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <!-- Quick Approvals          -->
              <div id="new-updates" class="card updates recent-updated">
                <div id="updates-header" class="card-header d-flex justify-content-between align-items-center">
                  <h2 class="h5 display"><a data-toggle="collapse" data-parent="#new-updates" href="#updates-box" aria-expanded="true" aria-controls="updates-box">Need Approval!!</a></h2>
                  <div class="right-column">
                    <div class="badge badge-primary"><%= sit_ad.length %> New Sitters</div>&nbsp;&nbsp;<a data-toggle="collapse" data-parent="#new-updates" href="#updates-box" aria-expanded="true" aria-controls="updates-box"><i class="fa fa-angle-down"></i></a>
                  </div>
                </div>
                <div id="updates-box" role="tabpanel" class="collapse show">
                  <ul class="news list-unstyled">
                    <% for(var i=0;i<sit_ad.length;i++){ %>
                    <!-- Item-->
                    <li class="row justify-content-between">
                      <div class="left-col d-flex col-md-6 col-sm-6">
                        <div class="icon"><i class="icon-rss-feed"></i></div>
                        <div class="title"><strong><%= sit_ad[i].Fname %> <%= sit_ad[i].Lname %></strong>
                          <p><%= sit_ad[i].DOB %>,<%= sit_ad[i].Email %></p><% if(sit_ad[i].status==0){ %><span class="text-danger font-weight-bold">Not Verified</span><% } %>
                        </div>
                      </div>
                      <div class="right-col text-right col-md-6 col-sm-6">
                        <div class="update-date"><img src="<%=sit_ad[i].Profile%>" height="80" width="80"></div>
                      </div>
                    </li>
                    <% } %>
                  </ul>
                </div>
              </div>
              <!-- Recent Updates Widget End-->
            </div>
            <div class="col-lg-6 col-md-6">
              <!-- Daily Feed Widget-->
              <div id="daily-feeds" class="card updates daily-feeds">
                <div id="feeds-header" class="card-header d-flex justify-content-between align-items-center">
                  <h2 class="h5 display"><a data-toggle="collapse" data-parent="#daily-feeds" href="#feeds-box" aria-expanded="true" aria-controls="feeds-box">dogs need approval</a></h2>
                  <div class="right-column">
                    <div class="badge badge-primary"><%= dog_ad.length %> New Dogs</div><a data-toggle="collapse" data-parent="#daily-feeds" href="#feeds-box" aria-expanded="true" aria-controls="feeds-box"><i class="fa fa-angle-down"></i></a>
                  </div>
                </div>
                <div id="feeds-box" role="tabpanel" class="collapse show">
                  <div class="feed-box">
                    <ul class="feed-elements list-unstyled">
                      <% for(var i=0;i<dog_ad.length;i++){ %>
                      <!-- List-->
                      <li class="clearfix">
                        <div class="feed d-flex justify-content-between">
                          <div class="feed-body d-flex justify-content-between"><a href="#" class="feed-profile"><img src="<%= dog_ad[i].DogPic1 %>" alt="person" class="img-fluid rounded-circle"></a>
                            <div class="content"><strong><%= dog_ad[i].DogName %></strong><small><%= dog_ad[i].DogBreed %></small>
                              <div class="full-date"><small></small></div>
                            </div>
                          </div>
                          <div class="date"><small></small></div>
                        </div>
                      </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Daily Feed Widget End-->
            </div>
          </div>
        </div>
      </section>
      <% include adminfooter%>
