<div id="list">
  <script>
  //var url='http://localhost:1212/chatroom'
  //console.log(url);
  console.log('undefined');
  function linki(url){
    window.location.assign(url);
    }
  </script>
  
  <h2 class="chat-head">Chat</h2>
  <p id="uid" hidden><%= login.email %></p>
  <p id="tome" hidden><%= to %></p>
  <div class="row chat-row">
    <div class="col-sm-4">
      <div class="all-rooms mb-5 mt-2">
        <input type="text"  class="fas fa-search form-control room-search" name="search" value="" placeholder="&#xF002; Search" style="font-weight:600; border-radius:0; ">
        <% for(var i=0;i<ChatList.length;i++){ %>
        <div class="row d-flex chat-list-container" onclick="return linki('/dashboard/chat?to=<%= ChatList[i].Email %>')" <% if(ChatList[i].Email==to){ %> style="background-color: #02022e;color: white;cursor: pointer;" <% } %>>
          <div class="col-sm-2 ml-1" style="padding-left:0">
            <img class="chat-profile" src="<%= ChatList[i].Profile %>" alt="" width="35" height="35">
          </div>
          <div class="col-sm-8">
            <div class="chat-name ml-2"><%= ChatList[i].Fname %> <%= ChatList[i].Lname %>
              <div class="date">02 July</div>
            </div>
          </div>
          <div class="col-sm-1" style="padding-top: 1%;">
            <p class="unread" id="<%=ChatList[i].Email%>"><% if(ChatList[i].unread!=0){ %><%= ChatList[i].unread %><% } %></p>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="chat-room mb-5 mt-2" id="chatroom">
        <% if(to!='') {%>
          <% include chatroom1 %>
        <% } %>
      </div>

      </div>
    </div>
  </div>
</div>
