<div class="col-lg-9 dashboard_lay" id="list">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-account">MY ACCOUNT</h2>
    </div>
  </div>
  <form class="size-1 dashboard_form" name="myform" method="post" onsubmit="return update()">
    Profile Picture<span class="red" >*</span>
    <div class="form-group row">
      <label for="file-upload" class="col-lg-2 col-form-label">
        <img class="image_profile" id="imageload" src="<% if(send_data.Profile==''){ %>/assets/images/profile.png<%} else{ %>/<%= send_data.Profile %><% }%>" >
      </label>
      <div class="col-lg-9">
        <input hidden type="file" style="width:1%;height:1%;" class="form-control size-1" name="fileUpload" id="file-upload" accept="image/*" value="<%=  send_data.Profile %>" onchange="loadFile(event)">
        <span class="red"><% if(typeof error !== "undefined"){ %><%= error.file_err %><% } %></span>
      </div>
    </div>
    <% if(sid==1){ %>
    <div class="form-group row">
      <label for="fname" class="col-lg-12 col-form-label" value="<%= send_data.Description %>">About Me<span class="red">*</span>
      </label>
      <div class="col-lg-12">
        <textarea name="aboutme" class="form-control size-1" rows="3"><%= send_data.Description %></textarea>
        <span class="red"><% if(typeof error !== "undefined"){ %><%= error.about_err %><% } %></span>
      </div>
    </div>
    <% } %>
    <div class="form-group row">
      <div class="col-lg-6">
        <div class="col-lg-12">
          <label for="fname" class="col-form-label">First Name<span class="red">*</span></label>
          <input type="text" class="form-control size-1" name="fname" id="name" value="<%= send_data.Fname %>" placeholder="Enter Your First Name Here" >
          <span class="red"><% if(typeof error !== "undefined"){ %><%= error.fname_err %><% } %></span>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="col-lg-12">
          <label for="lname" class="col-form-label">Last Name<span class="red">*</span></label>
          <input type="text" class="form-control size-1" name="lname" value="<%= send_data.Lname %>" placeholder="Enter Your Last Name Here">
          <span class="red"><% if(typeof error !== "undefined"){ %><%= error.lname_err %><% } %></span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-6">
        <div class="col-lg-12">
          <label for="Email" class="col-form-label">Email<span class="red">*</span></label>
          <input type="text" class="form-control size-1" name="email" id="email" value="<%= send_data.Email %>" placeholder="Enter Email">
          <span class="red"><% if(typeof error !== "undefined"){ %><%= error.email_err %><% } %></span>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="col-lg-12">
          <label for="Phone" class="col-form-label">Phone<span class="red">*</span></label>
          <input type="text" class="form-control size-1" name="phone" value="<%= send_data.Phone %>" placeholder="Enter Phone">
          <span class="red"><% if(typeof error !== "undefined"){ %><%= error.phone_err %><% } %></span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <label for="password" class=" col-form-label">Password<span class="red">*</span></label>
            <span class="displayinline1"><input type="password" class="form-control size-1 width-1" name="password" placeholder="Enter Password"><span class="marleft3"><a data-toggle="tooltip" data-placement="right" title="The Password must be minimum 1 Capital letter,1 Small letter,1 Special Character,1 Number and there should be no trailing numbers in the password eg. 123,456 etc."><i class="red fas fa-info-circle"></i></a></span></span>
            <span class="grey1">Leave empty for same password</span>
            <span class="red"><% if(typeof error !== "undefined"){ %><%= error.password_err %><% } %></span>
          </div>
        </div>
        <script>
          $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
          });
        </script>
      </div>
      <div class="col-lg-6">
        <div class="col-lg-12">
          <label for="confirmPassword" class=" col-form-label">Confirm Password<span class="red">*</span></label>
          <input type="password" name="confirmPass" class="form-control size-1" id="inputPassword" placeholder="Re-enter the above Password">
          <span class="red"><% if(typeof error !== "undefined"){ %><%= error.confirm_err %><% } %></span>
        </div>
      </div>
    </div>
    <% if(sid==1){ %>
    <div class="form-group row">
      <div class="col-lg-6">
        <div class="col-lg-12">
          <label for="dob" class="col-form-label">DOB<span class="red">*</span></label>
            <input type="date" class="form-control size-1" name="dob" placeholder="Date of birth" value="<%= send_data.DOB %>">
            <span class="red"><% if(typeof error !== "undefined"){ %><%= error.dob_err %><% } %></span>
        </div>
      </div>
    </div>
    <% } %>
    <div class="form-group row">
      <div class="col-lg-6">
        <div class="col-lg-5">
          <label for="pack" class="col-lg-4 col-form-label"></label>
          <button type="submiit" class="btn custom-btn size-1 mt-4" style="width:100%;">Update</button>
        </div>
      </div>
    </div>
  </form>
</div>
