<% include adminheader %>
<% if(dog_details!=''){ %>
<div class="container-fluid">
  <div class="row detail-box">
    <div class="col-sm-12">
      <div class="col-sm col-md">
      <img class="image-dogs" src="<%= dog_details[0].DogPic1 %>">
      </div>
      <% if(dog_details[0].DogPic2) {%>
        <div class="col-sm col-md">
        <img class="image-dogs" src="<%= dog_details[0].DogPic2 %>">
        </div>
      <% } %>
      <% if(dog_details[0].DogPic3) {%>
        <div class="col-sm col-md">
        <img class="image-dogs" src="<%= dog_details[0].DogPic3 %>">
        </div>
      <% } %>
      <% if(dog_details[0].DogPic4) {%>
        <div class="col-sm col-md">
        <img class="image-dogs" src="<%= dog_details[0].DogPic4 %>">
        </div>
      <% } %>
      <% if(dog_details[0].DogPic5) {%>
        <div class="col-sm col-md">
        <img class="image-dogs" src="<%= dog_details[0].DogPic5 %>">
        </div>
      <% } %>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-6 mt-5 mb-5 bg-white" style="padding:1.3em;">
      <div class="col-sm-12">
        <center><h2 class="text-primary">Dog's Detail</h2></center>
      </div>
      <div class="row">
      <div class="col-sm-6 key-values">
        <strong>Dog Name</strong>
      </div>
      <div class="col-sm-6 text-right">
        <p><%=dog_details[0].DogName %></p>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-6 key-values">
        <strong>Dog Breed</strong>
      </div>
      <div class="col-sm-6 text-right">
        <p><%=dog_details[0].DogBreed %></p>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-6 key-values">
        <strong>Dog Age</strong>
      </div>
      <div class="col-sm-6 text-right">
        <p><%=dog_details[0].DogAge %></p>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-6 key-values">
        <strong>Dog Gender</strong>
      </div>
      <div class="col-sm-6 text-right">
        <p><%=dog_details[0].DogGender %></p>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-6 key-values">
        <strong>Description</strong>
      </div>
      <div class="col-sm-6 text-right">
        <p><%=dog_details[0].Description %></p>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-6 key-values">
        <strong>Address</strong>
      </div>
      <div class="col-sm-6 text-right">
        <p><%=dog_details[0].Address %></p>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-6 key-values">
        <strong>City</strong>
      </div>
      <div class="col-sm-6 text-right">
        <p><%=dog_details[0].City %></p>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-6 key-values">
        <strong>State</strong>
      </div>
      <div class="col-sm-6 text-right">
        <p><%=dog_details[0].State %></p>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-6 key-values">
        <strong>Zip Code</strong>
      </div>
      <div class="col-sm-6 text-right">
        <p><%=dog_details[0].ZIP %></p>
      </div>
      </div>
    </div>
    <div class="col-sm-6 mt-5 mb-5 bg-white" style="padding:1.3em;">
      <div class="col-sm-12">
        <center><h2 class="text-primary">Owner Details</h2></center>
      </div>
    </div>
    </div>
  </div>
<%}%>
<% include adminfooter %>
